@import "tailwindcss";

html {
  @apply scroll-smooth;
}

:root {
  --blue: #00274d;
  --grey: #7a7a7a;
  --teal: #008080;
  --lightblue: #2b4063;
  --faintblue: #edeef2;
}

@theme {
  --color-blue: var(--blue);
  --color-teal: var(--teal);
  --color-grey: var(--grey);
  --color-lightblue: var(--lightblue);
  --color-faintblue: var(--faintblue);
}

@utility flex-between {
  @apply flex justify-between items-center;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility flex-gap-col {
  @apply flex flex-col gap-[10px];
}

@utility flex-col-center {
  @apply flex flex-col items-center justify-center;
}

@utility headings {
  @apply sm:text-[30px] text-[25px] capitalize font-semibold text-[#1e365b] text-center;
}

@utility heading-description {
  @apply text-center sm:text-[15px] text-[13px] text-[#7a7a7a] font-normal leading-[22px] sm:max-w-[500px] mx-auto;
}

@utility inputs {
  @apply w-full border border-[#00274d] text-sm p-2 rounded;
}
